################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Practica/FileContentIndex/f77d2577-c117-4bb2-9c94-e6d20bd57b3c.vsidx
/.vs/Practica/FileContentIndex/f77d2577-c117-4bb2-9c94-e6d20bd57b3c.vsidx
